[Desktop Entry]
Name=Soundmaster
Comment=Audio device and app stream volume control
Exec=/home/baronj/soundmaster/soundmaster.py
Icon=testa-ljudet
Terminal=false
Type=Application
Categories=Utility;Audio;
